.Footer {
  background-color: #c1bbe4;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.fa-react {
  font-size: 25px;
  color: blue;
}

.social {
  display: flex;
  align-items: center;
  gap: 4px;
}

.social i {
  font-size: 20px;
}

.social i:hover {
  transform: scale(1.2);
  transition: 0.35s;
  cursor: pointer;
}
